.title {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.imageIcon {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  height: 170px;
  flex-shrink: 0;
  object-fit: cover;
}
.h4 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.starIcon {
  width: 18px;
  position: relative;
  height: 18px;
}
.rating1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.h41 {
  position: absolute;
  top: calc(50% - 12px);
  left: 0%;
  line-height: 24px;
}
.genre {
  width: 25px;
  position: relative;
  height: 24px;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.h42 {
  position: absolute;
  width: 100%;
  top: calc(50% - 12px);
  left: 0%;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.genre1 {
  flex: 1;
  position: relative;
  height: 24px;
  color: #9ca4ab;
}
.ratingGenres {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.titleDescription {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.movie {
  width: 300px;
  box-shadow: 0px 12px 32px rgba(206, 206, 251, 0.02) inset;
  backdrop-filter: blur(16px);
  border-radius: 16px;
  background-color: rgba(206, 206, 251, 0.06);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 18px;
  box-sizing: border-box;
  gap: 12px;
}
.movieList {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.imageIcon4 {
  align-self: stretch;
  position: relative;
  border-radius: 16px;
  max-width: 100%;
  overflow: hidden;
  height: 183px;
  flex-shrink: 0;
  object-fit: cover;
}
.movies1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 16px;
}
.arrowRightTinyIcon {
  width: 32px;
  position: relative;
  height: 32px;
  object-fit: contain;
}
.button {
  width: 56px;
  box-shadow: 0px 12px 32px rgba(206, 206, 251, 0.02) inset;
  backdrop-filter: blur(16px);
  border-radius: 8px;
  background-color: rgba(206, 206, 251, 0.1);
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 18px;
  box-sizing: border-box;
}
.span {
  color: #9ca4ab;
}
.h436 {
  position: relative;
  line-height: 24px;
}
.buttonIcon {
  width: 56px;
  border-radius: 8px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.actions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  font-size: 20px;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
}
.movies {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 80px;
}
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fade {
  position: absolute;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(20px);
  background-color: #0f0d23;
  width: 1440px;
  height: 1354px;
}
.div {
  position: relative;
  line-height: 175%;
}
.frameChild {
  width: 3px;
  position: relative;
  border-radius: 50%;
  background-color: #a8b5db;
  height: 3px;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 18px;
  color: #a8b5db;
}
.squidGame2Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.starIcon12 {
  width: 20px;
  position: relative;
  height: 20px;
}
.span1 {
  font-weight: 600;
}
.k1 {
  color: #a8b5db;
}
.ratingParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.button1 {
  border-radius: 6px;
  background-color: #221f3d;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  box-sizing: border-box;
}
.icons {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconsParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.button2 {
  border-radius: 6px;
  background-color: #221f3d;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  box-sizing: border-box;
  color: #a8b5db;
}
.buttonParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-size: 16px;
}
.head {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.imageIcon12 {
  width: 302px;
  position: relative;
  border-radius: 10px;
  height: 441px;
  object-fit: cover;
}
.imageIcon13 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  width: 772px;
  height: 441px;
  object-fit: cover;
}
.trailer {
  position: relative;
  line-height: 175%;
  font-weight: 600;
}
.buttonChild {
  width: 6px;
  position: relative;
  border-radius: 50%;
  background-color: #a8b5db;
  height: 6px;
}
.button3 {
  position: absolute;
  top: 375px;
  left: 24px;
  backdrop-filter: blur(10px);
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 18px;
  box-sizing: border-box;
  gap: 10px;
}
.imageParent {
  width: 772px;
  position: relative;
  height: 441px;
}
.img {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px;
  font-size: 16px;
}
.generes {
  position: relative;
}
.generesWrapper {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 100px;
}
.icons2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.buttonItem {
  width: 3px;
  position: relative;
  border-radius: 50%;
  background-color: #797979;
  height: 3px;
  display: none;
}
.div3 {
  position: relative;
  line-height: 175%;
  font-weight: 600;
  color: #797979;
  display: none;
}
.button4 {
  align-self: stretch;
  border-radius: 6px;
  background-color: #221f3d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 18px;
  gap: 10px;
}
.buttonGroup {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  font-size: 16px;
  color: #fff;
}
.info1 {
  align-self: stretch;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.hundredsOfCashStrapped {
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
}
.info2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.countries {
  align-self: stretch;
  position: relative;
}
.unitedStatedParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  min-width: 900px;
  font-size: 16px;
  color: #d6c7ff;
}
.released {
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 175%;
  font-weight: 600;
  color: #d6c7ff;
  display: inline-block;
  min-width: 900px;
}
.tagline {
  width: 131px;
  position: relative;
  display: inline-block;
}
.frameChild10 {
  width: 3px;
  position: relative;
  border-radius: 50%;
  background-color: #d6c7ff;
  height: 3px;
}
.info {
  align-self: stretch;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
}
.visitHomepage {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 16px;
  font-weight: 600;
}
.arrowRightTinyIcon1 {
  width: 22px;
  position: relative;
  height: 22px;
}
.button7 {
  border-radius: 6px;
  background: linear-gradient(90deg, #d6c7ff, #ab8bff);
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  box-sizing: border-box;
  gap: 4px;
  text-align: center;
  font-size: 16px;
  color: #121212;
}
.section {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 18px;
  color: #a8b5db;
}
.contentn {
  position: absolute;
  top: 50px;
  left: calc(50% - 550px);
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.modal1 {
  position: absolute;
  top: calc(50% - 617px);
  left: calc(50% - 600px);
  box-shadow: 0px 0px 100px rgba(171, 139, 255, 0.3),
    0px 12px 32px rgba(206, 206, 251, 0.02) inset;
  border-radius: 14px;
  background-color: #0f0d23;
  width: 1200px;
  height: 1234px;
  font-size: 36px;
}
.modal {
  width: 100%;
  position: relative;
  border-radius: 20px;
  background-color: #030014;
  height: 1354px;
  overflow: hidden;
  text-align: left;
  font-size: 30px;
  color: #fff;
  font-family: "DM Sans";
}
